.sortable-item-placeholder {
	display: inline-block !important;
	width: 50px;
	height: 70px;
	font: 10px sans-serif;
}

.name-container {
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	text-align: center;
  	width: 50px;
}

h3 {
	display: inline-block;
	margin-left: 30px;
}

#links {
	text-align: center;
	width: 100%;
}

#label {
	text-align: center;
	width: 100%;
}

.friends {
	max-width: 700px;
	width: auto;
}

.interesting {
	max-width: none;
	width: 100%;
	margin: 0 auto;
}

.notInteresting {
	width: 80%;
	margin: 0 auto;
	max-width: none;
}

.interesting table, .notInteresting table {
	width: 100% !important;
}